.container {
  position: relative;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 540px) {
  .container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
