.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px 10px 10px 0;
  padding: 0.675rem 0.6rem;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.button:focus {
  outline: none;
}

.primary {
  color: #f1f1f1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background-color: #457b9d;
  border-bottom: 3px solid #2e5168;
}

.primary:hover {
  color: #f7f7f7;
  background-color: #355f7a;
  border-bottom: 3px solid #1e3644;
}

.secondary {
  color: #333333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background-color: #e1e1e1;
  border-bottom: 3px solid #bbbbbb;
}

.secondary:hover {
  color: #222222;
  background-color: #c7c7c7;
  border-bottom: 3px solid #a1a1a1;
}

.danger {
  color: #f1f1f1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background-color: #f25656;
  border-bottom: 3px solid #f13939;
}

.danger:hover {
  color: #f7f7f7;
  background-color: #f13939;
  border-bottom: 3px solid #b92020;
}

.button:active {
  border-bottom-width: 1px;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  transform: translateY(2px);
  margin-bottom: 12px;
}
