.card__collapse-content {
  margin: 0px;
  border: none;

  overflow: hidden;
  transition: max-height 0.5s ease-in 0.1s;
  transition: border-bottom 0 0.5s;
}

.card__collapse-content.closed {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.card__collapse-button {
  width: 100%;
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.4rem 0 0.475rem;
  background-color: transparent;
  border: none;
}

.card__collapse-button:focus {
  outline: none;
}

.card__collapse-button-icon {
  display: inline-block;
  border: none;
  border-style: solid;
  border-color: #494949;
  border-width: 0.2rem 0 0 0.2rem;
  border-radius: 2px;
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.75rem;
  margin: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.2s ease;
}

.card__collapse-button:active .card__collapse-button-icon {
  -webkit-transform: rotate(45deg) scale(1.1, 1.1);
  -moz-transform: rotate(45deg) scale(1.1, 1.1);
  transform: rotate(45deg) scale(1.1, 1.1);
}

.card__collapse-button-icon.closed {
  -webkit-transform: rotate(-135deg);
  -mox-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: all 0.2s ease;
}

.card__collapse-button:active .card__collapse-button-icon.closed {
  -webkit-transform: rotate(-135deg) scale(1.1, 1.1);
  -mox-transform: rotate(-135deg) scale(1.1, 1.1);
  transform: rotate(-135deg) scale(1.1, 1.1);
}
