.container {
  position: relative;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media all and (max-width: 768px) {
  .container {
    position: relative;
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
  }
}
