.form__container {
  position: relative;
  margin: 0.9rem 0;
  padding: 0.8rem 1.2rem 0.5rem;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form__container h3 {
  color: #3a3a3a;
  margin: 0.7rem 0 1rem;
}

.form__buttons-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.form__buttons-wrapper button:last-child {
  margin-right: 0;
}

.form__customer-info-container {
  padding: 0 0 0.7rem;
}

.form__customer-info-container hr {
  margin-top: 1rem;
}

.form__address-container hr {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.form__address-remove-button {
  display: flex;
  justify-content: flex-end;
}

.form__address-remove-button button {
  margin-right: 0;
}
