.spinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.spinner::before {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  content: " ";
  clip: rect(0, 64px, 32px, 0);
  box-shadow: inset -5px 0 0 5px currentColor;
  color: #323b40;
  -webkit-animation: rotator 0.6s infinite linear;
  -moz-animation: rotator 0.6s infinite linear;
  animation: rotator 0.6s infinite linear;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}

@-moz-keyframes rotator {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}
